<%
	include("../../../!templates/_global");
%><%
	var name = "Advanced Weapon";
	var hasIcon = true;
%><%-
	include("../../../!templates/_header", {
		name: "Advanced Weapon",
		title: "Advanced Weapon｜Mod",
		favicon: "./favicon.ico",
		
		libraries: [
			{ type: "STYLE", src: "../Detail.css" }
		],

		hasStyle: true
	}) %>
			<%- include("../../../!templates/mod/_modname", { name, hasIcon }) %>

			<Article>
				<H2 Class = "subheading">1. Overview</H2>

				<P>
					このModはMinecraft PEに多数の武器を追加します。<Br />
					日本語と英語のローカライズに対応しています。
					
					<Br /><Br />

					<A Href = "https://plus.google.com/108639302275989213773" Target = "_blank">シグマらなーい猫うさぎ</A>様との共同製作Modになっています。<Br />
					このModの著作権は両者に帰属します。
				</P>
			</Article>

			<Article>
				<H2 Class = "subheading">2. Weapons</H2>

				<UL Class = "item-list">
					<%-
						include("../../../!templates/mod/_itemlist", {
							items: [
								{ name: "BloodSword", id: 501, image: "images/BloodSword.png" },
								{ name: "IronSlasher", id: 502, image: "images/IronSlasher.png" },
								{ name: "Hrunting", id: 503, image: "images/Hrunting.png" },
								{ name: "Laevateinn", id: 504, image: "images/Laevateinn.png" },
								{ name: "Crasher", id: 521, image: "images/Crasher.png" },
								{ name: "Tomahawk", id: 522, image: "images/Tomahawk.png" }
							]
						}); %>
				</UL>
			</Article>

			<Article>
				<H2 Class = "subheading">3. Changelog</H2>

				<P>
					<%-
						include("../../../!templates/mod/_changelog", {
							name: "Advanced Weapon",
							logs: [
								{
									version: "v1.1",
									releasedAt: "2017/05/25",

									changes: [
										"Android 4.xに対応",
										"重大なバグの修正"
									]
								},

								{
									version: "v1.0",
									releasedAt: "2017/05/22",
									changes: ["Advanced Weaponを初リリース"]
								}
							]
						}) %>
				</P>
			</Article>

			<Article>
				<H2 Class = "subheading">4. Download</H2>

				<Downloads Class = "mdc-list mdc-list--dense">
					<Li Class = "mdc-list-item"><A Href = "download/Advanced Weapon v1.1.js" Download>v1.1</A></Li>
					<Li Class = "mdc-list-item"><A Href = "download/Advanced Weapon v1.0.js" Download>v1.0</A></Li>
					
					<Li Class = "mdc-list-item"><A Href = "download/Advanced Weapon Resource.zip" Download>Advanced Weapon リソースパック</A></Li>
				</Downloads>
			</Article>
<%- include("../../../!templates/_footer") %>