<%
	include("../../../!templates/_global");
%><%
	var name = "More Records";
	var hasIcon = true;
%><%-
	include("../../../!templates/_header", {
		name,
		title: `${name}｜Mod`,
		favicon: "./favicon.ico",
		
		libraries: [
			{ type: "STYLE", src: "../Detail.css" }
		]
	}) %>
			<%- include("../../../!templates/mod/_modname", { name, hasIcon }) %>

			<Article>
				<H2 Class = "subheading">1. Overview</H2>

				<P>
					このModはMinecraft PEにレコードを追加します。
				</P>
			</Article>

			<Article>
				<H2 Class = "subheading">2. How to Use</H2>

				<P>
					最初にこのModを導入すると、Mojangフォルダー内にMore Records/Records.Jsonが生成されます。<Br />
					生成されたRecords.Jsonを、必ず下記の形式に沿って編集して下さい。

					<Br /><Br />

					入力された内容に応じて追加されるレコードの情報が変化します。
				</P>

				<Pre Class = "prettyprint lang-js">[
	{
		"ID": レコードID(int型),
		"Name": レコードの名前(String型),
		"Type": レコードの色(1～12),
		"URL": 音声ファイルの絶対パス(String型)
	},

	{
		...
	},
	
	...
]</Pre>
			</Article>

			<Article>
				<H2 Class = "subheading">3. Blocks</H2>

				<%-
					include("../../../!templates/mod/_itemlist", {
						items: [
							{ name: "ジュークボックス", id: 250, image: "images/Jukebox.png" }
						]
					}); %>
			</Article>

			<Article>
				<H2 Class = "subheading">4. Movies</H2>

				<Div Class = "video-container">
					<IFrame
						Src = "https://www.youtube.com/embed/i7bJC_IiTCg?rel=0"
						FrameBorder = "0"
						Gesture = "media"
						Allow = "encrypted-media"
						AllowFullScreen = "AllowFullScreen">
					</IFrame>
				</Div>
			</Article>

			<Article>
				<H2 Class = "subheading">5. Changelog</H2>

				<%-
					include("../../../!templates/_changelog", {
						name,

						logs: [
							{
								version: "Release 1.04",
								releasedAt: "2016/03/29",

								changes: ["コードの抜け落ちを修正"]
							},

							{
								version: "Release 1.03",
								releasedAt: "2016/03/28",

								changes: [
									"複数設置に対応",
									"著作権名義を変更"
								]
							},

							{
								version: "Release 1.02",
								releasedAt: "2016/03/22",

								changes: ["ドロップを実装"]
							},

							{
								version: "Release 1.01",
								releasedAt: "2016/03/22",

								changes: ["ファイル生成に関するバグを修正"]
							},

							{
								version: "Release 1.00",
								releasedAt: "2016/03/22",

								changes: ["More Recordsを初リリース"]
							}
						]
					}) %>
			</Article>

			<Article>
				<H2 Class = "subheading">6. Download</H2>

				<%-
					include("../../../!templates/_downloads", {
						files: [
							{ name: `${name} Release 1.04`, path: `download/Release/${name} Release 1.04.js` },
							{ name: `${name} Release 1.03`, path: `download/Release/${name} Release 1.03.js` },
							{ name: `${name} Release 1.02`, path: `download/Release/${name} Release 1.02.js` },
							{ name: `${name} Release 1.01`, path: `download/Release/${name} Release 1.01.js` },
							{ name: `${name} Release 1.00`, path: `download/Release/${name} Release 1.00.js` },
							{ name: `${name} リソースパック`, path: `download/${name} Resources.zip` }
						]
					}) %>
			</Article>
<%- include("../../../!templates/_footer") %>